@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

.cabecalho {
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 2px solid rgb(162, 155, 155);
box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);;
}

.header {
display: flex;
align-items: center;
gap: 20px;
}

.meio {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 17px;
    margin-top: 50px;
    margin-left: -370px;
}

.perfil {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}